<header class="header">
  <nav class="navbar" color="#2d8fab">
    <div class="navbar-brand">
      <a class="navbar-item">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
      </div>
    </div>
  </nav>
</header>